################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FBB.Console/obj
/FBB.Engine/.vs/FBB.Engine
/FBB.Engine/obj
/FBB.WebApp/obj
/.vs
/FBB.Engine/bin/Debug/net9.0
/FBB.Engine/.vs/ProjectEvaluation
/FBB.WebApp/bin/Debug/net9.0
/FBB.Console/bin/Debug/net9.0
